html {
    background-color: white;
}

/* resetting margins and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, monospace;
    font-size: 135%;
    width: 98%;
    max-width: 960px;
    margin: 0 auto;
    border: 3px solid #da0505;
    background-color: white;
    border-radius: 0 0 10px 0;
    box-shadow: 4px 4px 3px 3px black
}

a.focus, a.hover {
    font-style: italic;
}

/* the styles for the header */
header {
    border-bottom: 2px solid #da0505;
    background-image: -moz-linear-gradient(25deg, black 0%, black 30%, white 50%, black 80%, black 100%);
    background-image: -webkit-linear-gradient(25deg, black 0%, black 30%, white 50%, black 80%, black 100%);
    background-image: -o-linear-gradient(25deg, black 0%, black 30%, white 50%, black 80%, black 100%);
    background-image: linear-gradient(25deg, black 0%, black 30%, white 50%, black 80%, black 100%);
    color: #b90404;
}

header h2 {
    font-size: 175%;
    text-indent: 20px;
}

header h3 {
    font-size: 125%;
    font-style: italic;
    text-indent: 20px;
    padding-bottom: 1em;
}

header img {
    float: left;
    height: 103px;
    width: 150px;
    border-radius: 0 0 10px 0;
    margin-left: .25em;
}

/* styles for main */
main {
    display: flex;
}

/* styles for section content */
section {
    padding: 0 1.5%;
    flex-basis: 80%;
    order: 2;
}

section h2:first-child::first-letter {
    font-size: 150%;
    color: red;
}

section h3 {
    font-size: 120%;
    padding-bottom: .25em;
}

section p {
    padding-bottom: 1em;
}

section ul {
    list-style-type: none;
}

section img {
    width: 200px;
    float: right;
    margin-top: 0;
    margin-right: .5em;
}

section figure {
    float: left;
    margin-left: 0;
    margin-top: .25em;
    margin-right: 1em;
}

section figcaption {
    display: block;
    font-weight: bold;
    text-align: center;
}
section figure img {
    width: 200px;
    float: left;
    border: 1px solid #da0505;
}

/* styles for the aside */
aside {
    flex-basis: 20%;
    order: 1;
    padding: 2%;
    background-color: white;
}

aside ul {
    list-style-type: none;
    margin-left: .5em;
    margin-bottom: .25em;
}

aside ul li {
    width: 98%;
    margin-bottom: .25em;
    border: 2px solid #da0505;
}

aside ul li a {
    display: block;
    padding: .5em .5em .5em .5em;
    text-decoration: none;
    font-weight: bold;
    color: #da0505;
    background-color: black;
}

/* styles for menu bar*/
#menu_bar ul {
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    width: 100%;
}

#menu_bar ul li {
    position: relative;
    display: block;
    border: 2px solid #da0505;
    flex-basis: 25%;
}

#menu_bar ul li a {
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-align: center;
}

#menu_bar ul a:hover {
    display: block;
    font-style: italic;
    color: #da0505;
}

#menu_bar ul a:focus {
    background-color: silver;
    color: red;
}

#menu_bar ul a.current {
    background-color: silver;
}

#menu_bar > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* style settings for footer */
footer {
    background-color: #da0505;
    border-top: 3px double #da0505;
    border-radius: 10px 0 5px 0;
    clear: both;
}

footer p {
    font-size: 75%;
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* hide mobile menu*/
#mobile_menu {
    display: none;
}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
    header img {
        float: none;
    }

    header {
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    section {
        order: 1;
        width: 95%;
    }

    aside {
        order: 2;
        width: 95%;
        margin: 0 auto;
        text-align: center;
        padding-right: 2.5%;
    }

    #menu_bar {
        display: none;
    }

    #mobile_menu {
        display: block;
    }

    .slicknav_menu {
        background-color: #000000 !important;
    }
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
    body {
        font-size: 85%;
    }
}

